.login-body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, #062665, #c1d0eb);
    animation: gradients 10s ease infinite;
    background-size: 200% 200%;
}

@keyframes gradients {
    0% {
        background-position: 100% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 100% 0%
    }
}


/* Splash Section */

nav {
    margin-left: 40vw;
    margin-right: 20px;
    margin-top: 10px;
    animation: 0.6s 1.4s fadein forwards ease-out;
    opacity: 0;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 50px;
}

nav ul li {
    flex-basis: 150px;
    font-size: 25px;
    text-align: center;
}

nav a, nav a:visited, nav a:active, nav a:focus {
    color: white;
    text-decoration: none;
    border-bottom: transparent 2px solid;
    transition: 0.5s;
}

nav a:hover:not(.contact-border) {
    color: white;
    text-decoration: none;
    border-bottom: white 2px solid;
}

.contact-border {
    border: white 2px solid !important;
    border-radius: 3px;
    padding: 5px 10px;
}

.contact-border:hover {
    text-decoration: none;
    background-color: white;
    color: #062665;
}

@media (max-width: 1100px) {
    nav {
        margin-left: 10vw;
        margin-right: 10px;
    }
}

@media (max-width: 750px) {
    nav {
        margin-left: 0;
        margin-right: 20px;
    }

        nav ul li {
            font-size: 15px;
        }

    .contact-border {
        padding: 2px 4px;
    }

}

.carto-info {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    animation: 1s 0.3s fadedown forwards ease-out;
}

@keyframes fadedown {
    100% {
        opacity: 1;
        margin-top: 100px;
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

.carto-info p {
    color: white;
    font-size: 2em;
    margin-left: 13vw; 
}

.splashlogo {
    height: 15vw;
    width: auto;
}

.carto-info-hide {
    opacity: 1;
    margin-top: 100px;
    animation: 1s hideinfo forwards ease-out;
}

@keyframes hideinfo {
    100% {
        margin-top: 0;
        opacity: 0;
    }
}

/* Login Section */

.login-form {
    display: none;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset !important;
}

.input-group {
    width: 100%;
    background-color: transparent !important;
    border-radius: 4px;
    border: 1px white solid;
    color: white;
}

.input-group-addon {
    border: 1px #444 solid;
}

.input-group .form-control:last-child {
    border: none;
}

.logo-bar {
    height: 75px;
}

#ctl00 {
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: max-content;
    padding: 0;
    overflow: hidden;
}

@media (max-width: 800px) {
    .container {
        width: 70%;
        text-align: center;
    }
}


.container div {
    z-index: 1;
}

.logo-container {
    padding: 15px 30px 25px;
}

.logo {
    display: block;
    margin: auto;
}

.login-container {
    padding: 2px 30px 10px;
}


#1589FF
.input-group .form-control:focus {
    border: 1px #1589FF solid;
    box-shadow: 0 0 5px #1589FF;
}

p {
    color: white;
    text-align: center;
}

p a{
    color: darkblue;
    text-decoration: underline;

}

.btn-login {
    border: none;
    background: darkblue;
    width: 100%;
    font-size: 1.3em;
    border-radius: 0.2em;
    padding: 5px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

    .btn-login:hover {
        background: #323299;
    }

